<a href="https://colab.research.google.com/github/paulaassisb/data-manipulation-exercises/blob/master/Manipulacao_de_Dados_Ex_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![](https://i.imgur.com/JsMvGnP.png)


## Exercícios de manipulação de dados - Parte 2

Neste Jupyter notebook você irá resolver uma exercícios utilizando a linguagem Python e a biblioteca Pandas.

Todos os datasets utilizados nos exercícios estão salvos na pasta **datasets**.

Todo o seu código deve ser executado neste Jupyter Notebook. Por fim, se desejar, revise as respostas com o seu mentor.

### Tarefa 1. Importe o dataset e salve os dados em um dataframe

Os dados estão salvos no arquivo ***datasets/US_Crime_Rates_1960_2014.csv***.

Este dataset contém dados de crimes ocorridos nos Estados Unidos no período de 1960 até 2014.

Salve os dados em uma variável de nome *crime*.

In [ ]:
import pandas as pd
crime = pd.read_csv('https://raw.githubusercontent.com/paulaassisb/data-manipulation-exercises/master/datasets/US_Crime_Rates_1960_2014.csv')
crime.head()

   Year  Population    Total  ...  Burglary  Larceny_Theft  Vehicle_Theft
0  1960   179323175  3384200  ...    912100        1855400         328200
1  1961   182992000  3488000  ...    949600        1913000         336000
2  1962   185771000  3752200  ...    994300        2089600         366800
3  1963   188483000  4109500  ...   1086400        2297800         408300
4  1964   191141000  4564600  ...   1213200        2514400         472800

[5 rows x 12 columns]

### Tarefa 2. Qual o tipo de dados em cada coluna?

In [ ]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                55 non-null     int64
 1   Population          55 non-null     int64
 2   Total               55 non-null     int64
 3   Violent             55 non-null     int64
 4   Property            55 non-null     int64
 5   Murder              55 non-null     int64
 6   Forcible_Rape       55 non-null     int64
 7   Robbery             55 non-null     int64
 8   Aggravated_assault  55 non-null     int64
 9   Burglary            55 non-null     int64
 10  Larceny_Theft       55 non-null     int64
 11  Vehicle_Theft       55 non-null     int64
dtypes: int64(12)
memory usage: 5.3 KB

### Tarefa 3. Converta o tipo de dado da coluna Year para o tipo datetime

*Dica: procure na documentação da biblioteca como fazer tal conversão*

In [ ]:
crime['Year'] = crime['Year'].astype(str)
crime['Year'] =pd.to_datetime(crime['Year'])

### Tarefa 4. Configure a coluna Year como index do DataFrame.

*Dica: use a função set_index() do Pandas*

In [ ]:
crime = crime.set_index('Year')

### Tarefa 5. Remova a coluna Total do DataFrame.

In [ ]:
crime = crime.drop('Total', axis = 1)

### Tarefa 6. Encontre o número de roubos de carro do ano de 1978.

In [ ]:
crime.query('Year == 1978' ).Vehicle_Theft

Year
1978-01-01    1004100
Name: Vehicle_Theft, dtype: int64

### Tarefa 7. Retorne a linha do ano em que houve o maior número de assasinatos. 

*Dica: use a coluna Murder como referência.*

In [ ]:
crime.Murder.describe()

count       55.000000
mean     17317.236364
std       4267.442664
min       8530.000000
25%      14819.000000
50%      17030.000000
75%      20561.500000
max      24700.000000
Name: Murder, dtype: float64

In [ ]:
crime.query('Murder == 24700')

            Population  Violent  ...  Larceny_Theft  Vehicle_Theft
Year                             ...
1991-01-01   252177000  1911770  ...        8142200        1661700

[1 rows x 10 columns]

### Tarefa 8. Retorne o número de assassinatos do ano em que foi registrado o menor número de roubo de carros.

In [ ]:
crime.Vehicle_Theft.min()

328200

In [ ]:
crime.query('Vehicle_Theft == 328200').Murder

Year
1960-01-01    9110
Name: Murder, dtype: int64

**Parabéns! Você chegou ao fim**